* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

button {
  background-color: inherit;
  border: 0;
  user-select: none;
}

a, button, input, textarea, select {
  border: 0;
  text-decoration: none;
}

hr {
  border: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: none;
  }
}

q {
  &:before, &:after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, a {
  cursor: pointer;
}

b, strong {
  font-weight: bold;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
